/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Global Styles */
.body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* Applying the font to the body directly */
    height: 100vh;
}

/* Container Styles */
.pageContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    margin-left: 240px;
    background-color: #EEEEEE;

}

@media (max-width: 604px) {
    .mainContent {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
}


.main-cont {
    width: 894px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 48px;

}

.processing {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 561px;
    padding: 40px 0px;
    gap: 24px;
    background-color: #fff;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.05),
        0px 16px 32px -4px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.processing .text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.processing .text h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    height: 36px;
}

.processing .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: #000000B2;
    margin-bottom: 24px;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #D9D9D9;
    /* Light gray */
    border-radius: 50%;
    animation: dot-move 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dot-move {

    0%,
    60%,
    100% {
        transform: translateY(0);
        /* Original position */
        background-color: #D9D9D9;
        /* Light gray */
    }

    30% {
        transform: translateY(-6px);
        /* Move up 6px */
        background-color: #2D2D2D;
        /* Dark gray */
    }
}

.cancelButton {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 100%;
    width: 120px;
    height: 54px;
    border: none;
    background-color: #5356FF;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: #0004ff;
}

.ready-text {
    width: 884px;
    height: 72px;
}

.ready-text p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sponsors {
    display: flex;
    flex-direction: column;
    width: 860px;
    gap: 24px;
    font-family: Plus Jakarta Sans;
    color: white;
}

.admultiplier,
.crafter,
.hooksmaster {
    display: none;
    flex-direction: column;
    background-color: #17BEBB;
    border-radius: 16px;
    gap: 16px;
    padding: 14px 24px 24px 24px;
}

.ad-text {
    display: flex;
    flex-direction: column;
    width: 812px;
    gap: 16px;
}

.ad-text .headings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ad-text .headings h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1%;
    height: 44px;
}

.ad-text .headings p {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -1%;
}

.unordered-lists {
    width: 812px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
    margin-left: 20px;
    line-height: 135%;
    letter-spacing: 0%;
}

.unordered-lists li::marker {
    font-size: 16px;
}

.learnBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    text-decoration: none;
    padding: 12px 24px;
    transition: all ease-in 0.2s;
    gap: 10px;
    color: #17BEBB;
    background-color: #fff;
    font-family: Inter;
}

.readyText {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 48px 0px;
}

.learnBtn:hover {
    background-color: #f1f1f1;
}

.crafter {
    background-color: #A855F7;
}

.crafter .learnBtn {
    color: #A855F7;
}

.hooksmaster {
    background-color: #2D76FF;
}

.hooksmaster .learnBtn {
    color: #2D76FF;
}